@font-face {
    font-family: ronaldBold;
    src: url(../fonts/RondalBold-2O4lW.otf);
}
@font-face {
    font-family: ronaldReg;
    src: url(../fonts/RondalRegular-K7ORW.otf);
}
@font-face {
    font-family: ronaldSemi;
    src: url(../fonts/RondalSemibold-vmZ5Z.otf);
}
@font-face {
    font-family: Geraldien;
    src: url(../fonts/GeraldinePersonalUseItalic-PK12m.ttf);
}
@font-face {
    font-family: sage;
    src: url(../fonts/SageylSageyl-rgGnB.ttf);
}

#logo {
    font-family: Geraldien;
    text-align: center;
    margin: 15px;
    font-size: 54px;
}

.col{
    /* border: 2px solid black; */
    text-align: center;
    font-family: sage;
}

